ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px gray;

}
nav a,li{
    text-decoration: none;
    list-style: none;
    background-color: beige;
    padding: 5px;
}
