*{
    font-family: Poppins;

}
body{
    background:radial-gradient(rgb(143, 152, 161),rgba(138, 182, 138, 0.247),rgb(187, 187, 206)); 
}
.container{
    max-width: 600px;
    box-shadow: 0 0 10px ;
    background-color: #77af9a;
}

.card{
    min-width: 100%;
    box-shadow: 0 0 15px;
}


