
.search-row{
    min-width: 100%;
    min-height: 150px;

}
.list-emoji{
    padding-top:50px;
}
.card{
    min-width:200px;
    height: 400px;  
  }

.card-img-top{
    min-width: 150px;
    min-height: 50px;
}
.card-body{
    display: grid;
    place-content: center;
  }
.card:hover ,button:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
  }
  .card:not(:hover) {
    opacity: 0.9;
  }
  .emoji,button{
    max-width: 100px;
    max-height: 230px;
  }