*{
    font-family: Poppins;

}
body{
    background:radial-gradient(rgb(202, 179, 179),rgb(138, 182, 138),rgb(187, 187, 206)); 
}
.container{
    max-width: 600px;
    box-shadow: 0 0 10px ;
    background-color: #ced6d3;
}

.card{
    min-width: 100%;
    box-shadow: 0 0 15px;
}


