@font-face {
    font-family: Ubuntu;
    src: url(../font-family/Ubuntu/Ubuntu-Regular.ttf);
}
*{
    margin:0;
    padding: 0;
    font-family: Ubuntu;
    color: #fff;
}
.container-fluid{
    background-color:rgba(161, 124, 135, 0.89);
}
.icon{
    font-weight: bold;
    font-size: larger;
    border-radius:8px;
    color: aliceblue;
}
.p{
    color: rgb(238, 216, 216);
}
header{
    background-color: rgb(143, 104, 111)
}